.additionally {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 7rem;
}

.additionally__branch {
    position: absolute;
    width: 13.3rem;
    background-color: #FFFFFF;
    right: 0;
    top: 0;
    z-index: 1;
    mix-blend-mode: darken;
}

.additionally__branch-pic {
    padding-bottom: 130%;
}

.additionally__title {
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}

.additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .additionally {
        display: flex;
        flex-direction: column;
    }

    .additionally__branch {
        display: none;
    }



    .additionally__list {
        display: flex;
        flex-direction: column;
    }


    .additionally__list-wrapper {
        width: 100%;
        height: auto;
    }
}