.additionally {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 7rem;
}

.additionally__branch {
    position: absolute;
    width: 13.3rem;
    background-color: #FFFFFF;
    right: 0;
    top: 0;
    z-index: 1;
    mix-blend-mode: darken;
}

.additionally__branch-pic {
    padding-bottom: 130%;
}

.additionally__wrapper {
    display: block;
    position: relative;
    align-items: center;
    max-width: 67rem;
}

.additionally__title {
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}

.additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

.additionally__list:nth-child(2) {
    min-height: 61.5rem;
}

.additionally__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2.5rem;
    gap: 3rem;
    min-height: 33.75rem;
    background-color: #FFFFFF;
    box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.08);
}

.additionally__card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: inset 0 0 0 0.5rem #FFD900;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -2;
}

.additionally__card:hover::before{
    opacity: 1;
}

.additionally__cost-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 31.5rem;
}

.additionally__cost-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 25rem;
    gap: 1.5rem;
}

.additionally__cost-button {
    width: 13.75rem;
    height: 3.5rem;
}