.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
}

.description__title {
    text-align: center;
    margin-top: 7rem;
}

.description__text {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

.description__container {
    display: flex;
    gap: 4.6875rem;
    margin-bottom: 7rem;
}

.description__benefits {
    display: flex;
    flex-direction: column;
}

.description__benefits-subtitle {
    position: relative;
    text-align: center;
    margin-bottom: 3.5625rem;
}

.description__benefits-subtitle::before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 0.375rem;
    background-color: #FFD900;
    bottom: -2rem;
    left: 40%;
}

.description__benefits-text {
    min-width: 12.1875rem;
    text-align: center;
}

.description__partners {
    display: flex;
    margin-bottom: 3.5rem;
}