.footer {
    width: 100%;
    background: #fff;
    padding: 2rem 0;
}

.footer__container {
    max-width: 75rem;
    margin: 0 auto;
    text-align: left;
}

.footer__copyright {
    font-weight: 600;
    color: #444;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.footer__policy {
    color: #bdbdbd;
    font-size: 0.875rem;
}