.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F4F5F7;
    align-items: center;
}

.info__title {
    text-align: center;
    margin-top: 6.1875rem;
}

.info__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 7.5rem;
    gap: 6.25rem;
}

.info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19.375rem;
}

.info__container-image {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.info__container-image::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.25rem;
    background-color: #FFD900;
    bottom: -1.5rem;
    left: 3.75rem;
}

.info__image {
    position: absolute;
    top: 30%;
    left: 27%;
}

.info__text {
    text-align: center;
    font-weight: 500;
    line-height: 1.5rem;
}


@media screen and (max-width: 768px) {

    .info__wrapper {
        display: flex; 
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }

    .info__container {
        align-items: start;
        width: 100%;
    }

    .info__text {
        width: 100%;
        text-align: start;
    }
    
    .info__container-image {
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 1rem;
    }

    .info__container-image::before {
        display: none;
    }

    .info__image {
        width: 3rem;
        height: 3rem;
        top: 20%;
        left: 25%;
    }
}

@media screen and (max-width: 448px) {

    .info__container-image {
        width: 4.6rem;
        height: 4.6rem;
    }

    .info__image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .info__text {
        font-size: 0.875rem;
    }

}