.service {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}

.service__branch {
    position: absolute;
    width: 11.5rem;
    background-color: #FFFFFF;
    left: 0;
    bottom: 8.5rem;
    z-index: 1;
    mix-blend-mode: darken;
}

.service__branch-pic {
    padding-bottom: 180%;
}

.service__wrapper {
    display: block;
    position: relative;
    align-items: center;
    max-width: 67rem;
}

.service__title {
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}

.service__container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

.service__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FFFFFF;
    padding: 2.5rem;
    box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.08);
    gap: 1.5rem;
    min-height: 33.75rem;
}

.service__card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: inset 0 0 0 0.5rem #FFD900;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -2;
}

.service__card:hover::before{
    opacity: 1;
}

.service__cost-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    flex: 1;
    min-height: 31.5rem;
}

.service__cost-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    min-height: 25rem;
}

.service__cost-button {
    width: 13.75rem;
    height: 3.5rem;
}

.service__text {
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
    opacity: 56%;
}

.service__text span {
    font-weight: 700;
}

.service__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.875rem;
   margin-bottom: 7.5rem;
}

.service__container-title {
    text-align: center;
}

.service__container-text {
    text-align: center;
    font-weight: 500;
    opacity: 56%;
}

.service__container-button {
    width: 11.9375rem;
    height: 4rem;
}