.service {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}

.service__branch {
    position: absolute;
    width: 184px;
    background-color: #FFFFFF;
    left: 0;
    bottom: 136px;
    z-index: 1;
    mix-blend-mode: darken;
}

.service__branch-pic {
    height: 332px;
}

.service__wrapper {
    display: block;
    position: relative;
    align-items: center;
    max-width: 67rem;
}

.service__title {
    margin-top: 112px;
    margin-bottom: 80px;
    text-align: center;
}

.service__list-wrapper {
    display: grid;
    gap: 48px 0;
}

.service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 32px;
    z-index: 1;
    position: relative;
}

.service__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 580px;
    background-color: #FFFFFF;
    padding: 40px;
    box-shadow: 0 16px 56px rgba(0, 0, 0, 0.08);
    margin-left: -8px;
    margin-top: -8px;
}

.service__card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 16px;
    left: 16px;
    box-shadow: inset 0 0 0 8px #FFD900;
    border-radius: 8px;
    opacity: 0;
    z-index: -2;
}

.service__card:hover::before{
    opacity: 1;
}

.service__cost-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 404px;
}

.service__cost-list {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    height: 100%;
}

.service__cost-button {
    width: 220px;
    height: 56px;
}

.service__text {
    text-align: center;
    font-weight: 500;
    opacity: 56%;
}

.service__text span {
    font-weight: 700;
}

.service__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px 0;
   margin-bottom: 120px;
}

.service__container-title {
    text-align: center;
}

.service__container-text {
    text-align: center;
    font-weight: 500;
    opacity: 56%;
}

.service__container-button {
    width: 191px;
    height: 64px;
}