.service {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}

.service__branch {
    position: absolute;
    width: 11.5rem;
    background-color: #FFFFFF;
    left: 0;
    bottom: 8.5rem;
    z-index: 1;
    mix-blend-mode: darken;
}

.service__branch-pic {
    padding-bottom: 180%;
}

.service__title {
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}

.service__container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

.service__text {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    opacity: 56%;
}

.service__text span {
    font-weight: 700;
}

.service__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.875rem;
   margin-bottom: 7.5rem;
}

.service__container-title {
    text-align: center;
    font-size: 1.5rem;
}

.service__container-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    opacity: 56%;
}

@media (max-width: 768px) {

    .service__branch {
        display: none;
    }

    .service {
        display: flex;
        flex-direction: column;
    }

    .service__container-list {
        display: flex;
        flex-direction: column;
    }

    .service__text {
        text-align: start;
    }

    .service__container-title {
        text-align: start;
    }

    .service__container-text {
        width: 100%;
        text-align: start;
    }

}

@media (max-width: 448px) {

    .service__title {
        margin-top: 3rem;
        text-align: left;
    }

    .service__cost-subtitle {
        font-size: 1rem;
    }

    .service__item-scroll {
        font-size: 0.75rem;
        position: relative;
    }

    .service__item-scroll-icon {
        position: absolute;
        left: 4.7rem;
        top: -0.1875rem;
        width: 1rem;
    }

    .service__text {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .service__container-title {
        font-size: 1.15rem;
        line-height: 1.965rem;
    }

    .service__container-text {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
}